<div class="widget" data-name="<%= widgetName %>">
	<% if (obj.widget) { %>
		<div class="title"><%= widget.configuration.title %></div>
	<% } %>
	<div class="content">
		<% if (obj.errors) { %>
		<div class="errors">
			<ul>
				<% for (var idx in errors) { %>
				<li><%= errors[key] %></li>
				<% } %>
			</ul>
		</div>
		<% } else if (obj.body) { %>
			<%- body %>
		<% } %>
	</div>
</div>