body
	background: #1f2a36
	color: #CEDEEF
	margin: 0 20px
	font-size: 14px
	font-family: Lato, sans-serif
	min-width: 960px

a
	color: #fff
	text-decoration: underline
	&:hover
		color: #fff
		text-decoration: none

.globalErrors
	background: #FFFFFF
	color: #D35B5B
	margin: 20px 20px 0 0
	padding: 20px

.globalErrors p
	margin: 0 0 10px 0

ul
	margin: 0 0 0 0
	padding: 0 0 0 20px
	li
		margin: 0
		padding: 0
.col
	float: left

.nbCols1
	width: 100%

.nbCols2
	width: 50%

.nbCols3
	width: 33.33%

.nbCols4
	width: 25%

.widget
	.box
		background: #2c3d4e
		margin: 0 20px 0 0
		padding: 20px
		border-radius: 6px
		-webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.4)
		box-shadow: 0 0 3px 0 rgba(0,0,0,0.4)

	.title
		font-weight: 300
		font-size: 20px
		padding-bottom: 10px

	table
		font-size: 14px
		color: #b6c8da
		width: 100%
		border-collapse: collapse
		thead
			th
				text-align: left
				padding: 10px 10px 10px 0
				border-bottom: 2px solid #2d3c4b
		tbody
			td
				padding: 10px 10px 10px 0
				border-bottom: 1px solid #2d3c4b
			tr:last-child td
				border-bottom: 0
				padding-bottom: 0

.grid
	.box
		padding: 0

	.boxHeader
		background: #35475d
		border-bottom: 1px solid #203549
		padding: 10px 20px 10px 20px
		border-radius: 6px 6px 0 0

	.boxBody
		padding: 20px 10px 0 20px
		overflow: auto

.actionWidget
	.bigNumber
		color: #fff
		position: relative

		.number
			font-size: 60px
			line-height: 60px

		.label
			position: absolute
			left: 0
			top: 0
			margin-left: 90px
			font-size: 18px
			padding: 17px 0

	.tags a.tag
		line-height: 22px
		color: #fff
		background: #008974
		padding: 0 6px
		border-radius: 3px
		margin-right: 2px
		margin-bottom: 2px
		white-space: nowrap
		max-width: 30%
		overflow:  hidden
		text-overflow: ellipsis
		display: inline-block
		text-decoration: none
		&:hover
			text-decoration: underline

.col:last-child .widget .box
	margin-right: 0

#topBar
	background: #2c3d4e
	height: 50px
	margin-bottom: 20px
	border-radius: 0 0 6px 6px
	-webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.1)
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.1)
	position: relative
	.dashboardNav
		display: inline-block
		position: absolute
		top: 0
		left: 0
		margin-left: 20px
		background: #35475d
		min-height: 50px
		line-height: 50px
		border-left: 1px solid #2a3848
		border-right: 1px solid #2a3848
		font-size: 16px
		font-weight: 300
		z-index: 2
		.selected
			position: relative
			padding-right: 15px
			margin: 0 20px
			color: #fff
			.glyphicon
				position: absolute
				top: 50%
				right: -10px
				margin-top: -6px
				color: #677c9a

		.dropdown
			background: #35475d
			display: none
			line-height: 20px
			padding: 10px 20px
			max-height: 200px
			overflow: auto
			min-width: 100%
			ul
				margin: 0
				padding: 0
				list-style: none
				li
					margin: 0
					padding: 2px 0
		&:hover
			border-bottom: 1px solid #2a3848
			.dropdown
				display: block

	a
		color: #c7d2df
		&:hover
			color: #fff

table.propertiesTable
	width: 100%
	margin: 10px 0
	border-collapse: collapse
	tr
		th, td
			border-top: 1px solid rgba(0,0,0,0.05)
			height: 30px
			padding: 8px 10px
			vertical-align: middle
		&:first-child
			th, td
				border-top-width: 0
		&:hover
			th, td
				background-color: rgba(0,0,0,0.03)
		th
			border-right: 1px solid rgba(0,0,0,0.02)
			text-align: left
			font-weight: normal
			color: #6F8BA6

.modalBackground
	z-index: 3
	position: fixed
	height: 100%
	width: 100%
	background: rgba(0,0,0,0.5)

.modal
	z-index: 4
	position: fixed
	top: 100px
	left: 50%
	margin-left: -300px
	width: 600px
	padding: 30px 40px
	border-radius: 4px
	font-size: 14px
	background: #2c3d4e
	color: #C8DBED
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.5)
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5)
	.close
		position: absolute
		top: 10px
		right: 15px
		color: #6f8ba6
		text-decoration: none
		font-size: 18px
		font-weight: bold
		&:hover
			color: #c8dbed

	h1
		font-size: 26px
		padding: 0 0 5px 0
		margin: 0
		font-weight: 500
		color: #fff

	.header
		margin-bottom: 30px
		text-align: center

	table
		tbody
			th
				width: 150px
