body
	background: #1f2a36
	color: #677E94
	margin: 0
	font-size: 14px
	font-family: Lato, sans-serif
	min-width: 960px

a
	color: #fff
	text-decoration: underline
	&:hover, &:focus
		color: #fff
		text-decoration: none

#loginBox
	background: #2c3d4e
	margin: 0 20px 0 0
	padding: 15px
	border-radius: 6px
	-webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.4)
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.4)
	position: relative
	margin-bottom: 20px
	width: 350px
	margin: 150px auto 0 auto


.field
	margin-bottom: 10px
	overflow: hidden
	label
		width: 75px
		float: left
		line-height: 24px
		height: 24px
	input
		background: #26323F
		border: 1px solid #14263A
		border-radius: 2px
		height: 24px
		font-size: 13px
		line-height: 24px
		width: 263px
		color: #CEDEEF
		outline: 0
		padding: 0 5px
		&:focus
			border: 1px solid #4481BE

.submitBar
	margin-top: 20px
	border-top: 1px solid #263749
	padding-top: 15px
	position: relative
	button
		font-family: Lato, sans-serif
		border: 0
		background: #1F2A36
		color: #cedeef
		font-size: 14px
		padding: 0 10px
		height: 26px
		line-height: 26px
		border-radius: 4px
		outline: 0
		position: absolute
		top: 15px
		right: 0
	.errorMessage
		min-height: 26px
		margin-right: 100px
		color: #cedeef
