<!DOCTYPE HTML>
<html>
<head>
	<title>DX Dashboard</title>

	<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" media="screen,print" href="/public/bootstrap-3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" media="screen,print" href="/assets/${startId}/styles/dashboard.css">
	<link rel="stylesheet" type="text/css" media="screen,print" href="/public/mCustomScrollbar/jquery.mCustomScrollbar.min.css">

	<script src="/public/javascripts/jquery-2.1.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/public/javascripts/underscore-min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/public/javascripts/ejs-1.0.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/public/javascripts/spin.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/public/javascripts/json2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/public/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js" type="text/javascript" charset="utf-8"></script>

	<script src="/assets/${startId}/scripts/fwk.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/${startId}/scripts/tools.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript">
		${dx.dashboard.tools.AssetsCompiler.getEjsViews("dashboard")}
		<% jsData.each { name, value -> %>
			fwk.data["${name}"] = ${value};
		<% } %>
	</script>

	<script src="/assets/${startId}/scripts/dashboard.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript"
		src="https://www.google.com/jsapi?autoload={
			'modules':[{
				'name':'visualization',
				'version':'1',
				'packages':['corechart']
			}]
		}">
	</script>

</head>
<body>

	<div id="modalHolder"></div>

	<div id="topBar">
	</div>

	<% if (!errors?.isEmpty()) { %>
	<div class="globalErrors">
		<p><strong>There are errors:</strong></p>
		<ul>
			<% errors.forEach { error -> %>
			<li>${error}</li>
			<% } %>
		</ul>
	</div>
	<% } %>

	<div id="widgets">

	</div>

</body>
</html>